body{

    background-color: #66a0eb;
    color: white;
}

h1{
    text-align : center;
   
}

.navbar{
    display: flex;
    width: fit-content;

    align-items: center;
    justify-content: center;
    margin: auto;
}

.navbar img{
    width: 30%;
    margin-right: 5%;
}

.main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
}

.container{
    width: fit-content;
}

.propaganda{
    margin-left: 75%;
}


label {
    margin-bottom: 8px;
    font-size: 20px;
}

.input-text{
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
}

button:hover {
    background-color: #0056b3;
}
